{% extends 'base.html' %}
{% block head%}<title>CitationExtractor | Github</title>{% endblock %}
{% block body%}
<div class='pageTitle'>
    <h1 class='title is-family-monospace'>GitHub Repos</h1>
    
  </div>

  <div class="tile is-vertical is-parent coach is-family-monospace" id='fileUploadTile'>
    <div class="tile is-child box has-background-light">
        <div>This project was forked from a previous GitHub project, which provided functionality through a command line interface. 
        <p>You can access the forked, and original, versions of the project below.</p>
        </div>
        <div id='repos'>
            <p>My version of the project can be found: <a href='https://gitlab2.eeecs.qub.ac.uk/40282125/csc3002-ar02'>here</a>.</p>
            <p>The original project source code can be found <a href='https://gitlab2.eeecs.qub.ac.uk/40175025/csc3002-ar02'>here</a>.</p>
        </div>
    </div>
    </div>




{% endblock %}